<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>good good study, day day up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

</head>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="col-lg-1">Spring Boot</span>
                <span class="label-primary" style="margin: 5px">加解密</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-1">
                        <form class="form-group">
                            <label for="">选项</label>
                            <select class="form-control" id="method">
                                <option value="encrypt">加密</option>
                                <option value="decrypt">解密</option>
                                <option value="md5">MD5</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-lg-3">
                        <form class="form-group">
                            <label for="">Base64加密key</label>
                            <input id="encryptKey" class="form-control" type="text" value="MTIzNDU2Nzg5MDEyMzQ1Ng==">
                        </form>
                    </div>
                    <div class="col-lg-3">
                        <form class="form-group">
                            <label for="">Base64加密Iv</label>
                            <input id="encryptIv" class="form-control" type="text" value="MTIzNDU2Nzg5MDEyMzQ1Ng==">
                        </form>
                    </div>
                    <div class="col-lg-2">
                        <label for="">文件加签</label>
                        <input id="file" class="form-control" type="file" placeholder="choose file"/>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-success" id="btn" style="float:right">GO!!!</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>文本</label>
                            <textarea id="request" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>结果</label>
                            <textarea id="result" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>

</div>


<script type="text/javascript" src="webjars/jquery/1.11.1/jquery.js"></script>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var BASE_URL = "/base64/";
    $("#btn").click(function () {
        var file = $("#file")[0].files[0];
        if (file) {
            var formData = new FormData();
            formData.append("file", $("#file")[0].files[0]);    //生成一对表单属性
            $.ajax({
                type: "POST",           //因为是传输文件，所以必须是post
                url: '/urlCode/file/md5',         //对应的后台处理类的地址
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data);
                    $("#result").val(data);
                    $("#file").replaceWith('<input id="file" class="form-control" type="file" placeholder="choose file"/>');
                }
            });
        } else {
            var encryptKey = $("#encryptKey").val();
            var encryptIv = $("#encryptIv").val();
            var requestText = $("#request").val();
            var method = $("#method").val();

            var URL = BASE_URL + method;

            var requestParam = {
                'encryptKey': encryptKey,
                'encryptIv': encryptIv,
                'requestText': requestText
            };
            jQuery.ajax({
                url: URL,
                dataType: "text",
                async: true,
                contentType: "application/json;charset=UTF-8",
                type: "POST",
                data: JSON.stringify(requestParam),
                success: function (data) {
                    console.log(data)
                    $("#result").val(data);
                },
                error: function (msg) {
                    alert(msg);
                }
            });
        }
    });
</script>
</body>
</html>