<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>good good study, day day up</title>
</head>
<body>
<div>
    <h3>Welcome to my home</h3>
    <div>
        <form action="" ,method="get">
            <div>
                <div>
                    <select id="select">
                        <option>MD5</option>
                        <option>加密</option>
                        <option>解密</option>
                    </select>
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="submit" value="执行">
                </div>
                <div>
                    <textarea id="input" style="border: 2px blue solid; width: 200px;height: auto"></textarea>
                    <textarea id="output" style="border: 2px blue solid; width: 200px;height: auto"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>